@import "~sass/styles";
.browse-header {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(6, 56, 143, 0.5)),
      url("assets/img/sky_slow.gif");
    background-size: cover;
    background-position: bottom;
    position: relative;
    h1 {
      @extend %h1_responsive;
      @extend %header-texts;
      top: 45%;
      width: 70%;
    }
    h2 {
      @extend %h2_responsive;
      @extend %header-texts;
      top: 30%;
      width: 70%;
      &.success-state {
        top: 60%;
        &.successful {
          color: green;
        }
        &.failed {
          color: red;
        }
      }
    }
  }
  
  .launches__section{
    padding-top:70px;
    background-image: $page_gradient;
  }

  .cards {
    width: 80%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

  }

  .cards__item {
    display: flex;
    // padding: 1rem;
    @include respond-to("mobileXS") {
      min-width:90%;
    }
    @include respond-to("tablet") {
      min-width:35%;
    }
    @include respond-to("laptop") {
      min-width: 20%;
    }
  }

  app-launch-box {
    width:100%;
    margin:10px;
  }