<app-rocket-loader [style.opacity]='loaded ? 0 : 1'></app-rocket-loader>


<div class="browse-header">
  <app-navbar></app-navbar>
  <h1>PAST LAUNCHES</h1>
</div>

<section class='launches__section' *ngIf="launches">
  <ul class="cards">
    <li class="cards__item" *ngFor="let launch of launches">
      <app-launch-box [launch]="launch"></app-launch-box>
    </li>
  </ul>
</section>