@import "~sass/styles";


app-rocket-loader {
    transition: all linear 5s;
}
.overlay {
    position: fixed;
    pointer-events: none;
    // position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $loader-background;
    z-index: 100;
    
  }
  
  $color: $menu-item-hover;
  $duration: 2s;
  $ease: cubic-bezier(.38,.11,.56,.83);
  $easeCircle: cubic-bezier(.38,.11,.54,1);
  
  .loader {
    z-index: 1;
    display: block;
    width: 164px;
    height: 164px;
    margin-right: auto;
    margin-left: auto;
    animation: spin 30s linear infinite;
  
  }
  
  .loader__rocket {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    animation: spin $duration $ease infinite;   will-change: transform
  }
  
  .loader__icon {
    position: absolute;
    top: -1.05em;
    left: calc(50% - 1em);
    display: block;
    transform: rotate(-90deg);
  }
  
  .loader__circle {
    fill: transparent;
    stroke: $color;
    stroke-dasharray: 300;
    stroke-dashoffset: 100;
    stroke-linecap: square;
    stroke-width: 5;
    animation: dash $duration $easeCircle infinite;
  }
  
  .loader__svg {
    display: inline-block;
    width: 1.4em;
    height: 2.33em;
    fill: $color;
    stroke: #000;
    stroke-width: 1;
  }
  

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-1turn);
    }
  }
