
// Breakpoints
$breakpoints: (
  desktop: 1440px,
  laptop: 1024px,
  tablet: 768px,
  mobileL: 480px,
  mobileS: 320px,
  mobileXS:240px,
);

// Responsiveness mixin
@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }

// Variables

// [colors]
$menu-item-hover:#7c03df;
$menu-item-mobile: #38095e;
$loader-background: #000210;
$red_failed: #f0003e;
$green_success: #00a261;
$page_gradient: linear-gradient(to right bottom, #021d5d, #021f63, #012068, #01226e, #012374);

// [text stuff]
$global-font: "Ubuntu", sans-serif;
$default_font_size: 25px;
$font-size_cards: 20px;

// [header settings]
%h1_responsive {
  @include respond-to("mobileXS") {
    font-size: 2em;
  }
  @include respond-to("mobileL") {
    font-size: 3em;
  }
  @include respond-to("laptop") {
    font-size: 4.5em;
  }
}

%h2_responsive {
  @include respond-to("mobileXS") {
    font-size: 1.5em;
  }
  @include respond-to("mobileL") {
    font-size: 2.5em;
  }
  @include respond-to("laptop") {
    font-size: 4em;
  }
}

%header-texts {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
