@import './vars';

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

html, body {
    min-height: 100%;
    height: auto;
    margin: 0;
  }

  // Global transition for the rocked header opacity.
  app-rocket-loader {
    transition: opacity 0.5s linear;
  }

  .laptop-half-width {
    @include respond-to("mobileXS") {
        width:100%;
    }
    @include respond-to("laptop") {
      width: 50%;
      float: left;
    }
  }

  .row {
      width:100%;
  }

.launch-section-label {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    left:50%;
    transform: translateX(-50%);
    &:after{
        position: absolute; 
        left: 0; 
        bottom: 0; 
        width: 100%; 
        height: 1px; 
        border-bottom: 1px solid white; 
        content: ""
      }
  }