@import "~sass/styles";
.menu_desktop {
  @include respond-to("mobileXS") {
    display: none;
  }
  @include respond-to("laptop") {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: -50px;
    padding: 5px 0;
    font-size: 1.2em;
    transition: box-shadow 0.5s ease;
    font-family: "Ubuntu", sans-serif;
    ul {
      text-align: center;
      margin-top: 100px;
    }
    li {
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
      color: #fcfff5;
      padding: 22px;
      background-color: rgba(0, 0, 0, 0.5);
      &:hover,
      &.active {
        background: $menu-item-hover;
      }
    }
  }
}

.menu_mobile__collapsed {
  @include respond-to("mobileXS") {
    display: block;
    transition: all 0.25s;
    position: fixed;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    top: 10px;
    left: 9px;
    height: 36px;
    width: 36px;
    z-index: 5;
    cursor: pointer;
    ul {
      transition: all 0s;
      position: fixed;
      left: -9000px;
    }
    .bars {
      position: fixed;
      left: 12px;
      top: 24px;
    }
    .bar {
      transition: all 0.25s;
      left: 0;
      height: 6px;
      width: 40px;
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.95);
      margin: 6px 0; // position: fixed;
      left: 12px;
      top: 24px;
    }
  }
  @include respond-to("laptop") {
    display: none;
  }
}

.menu_mobile__expanded {
  @include respond-to("mobileXS") {
    position: fixed;
    z-index: 3;
    display: block;
    transition: all 0.25s;
    text-align: center;
    line-height: 200px;
    width: 100%;
    border-radius: 0px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    ul {
      padding: 0;
      margin: 0;
      transition: all 0s;
      position: relative;
      left: 0;
      z-index: 2;
    }
    a {
      transition: all 0.15s;
      text-decoration: none;
      font-size: 1.5em;
      padding: 5px;
      color: #fff;
      display: block;
      background-color: $menu-item-mobile;
      &:hover {
        background-color: $menu-item-hover;
        transition: all 0.15s;
        letter-spacing: 2px;
      }
    }
    .bars {
      position: fixed;
      left: 12px;
      top: 24px;
      z-index: 510;
      display: inline-block;
      height: 36px;
      width: 36px;
    }
    .bar {
      position: absolute;
      left: 3px;
      height: 6px;
      width: 40px;
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.991);
      transition: all 0.25s;
      top: 16px;
      margin: 6px 0;
      left: -1px;
      top: 13px;
    }
    .bar1 {
      transform: rotate(-45deg);
      transition: 0.4s;
    }
    .bar2 {
      opacity: 0;
    }
    .bar3 {
      transform: rotate(45deg);
    }
  }
  @include respond-to("laptop") {
    display: none;
  }
}