
<app-home-button> </app-home-button>
<div class ="menu_desktop">
  <nav id="topNav">
    <ul>  
      <li><a routerLink="/past" routerLinkActive="active">Past SpaceX Launches</a></li>
      <li><a routerLink="/latest" routerLinkActive="active">Latest SpaceX Launch</a></li>
      <li><a routerLink="/upcoming" routerLinkActive="active">Upcoming SpaceX Launches</a></li>
    </ul>
  </nav>
</div>

<div [class]="collapsed ? 'menu_mobile__collapsed' : 'menu_mobile__expanded'" (click)="collapsed=!collapsed">
  <div class="bars">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
  </div>
  <nav>
     <ul>
      <li><a routerLink="/past" routerLinkActive="active">Past SpaceX Launches</a></li>
      <li><a routerLink="/latest" routerLinkActive="active">Latest SpaceX Launch</a></li>
      <li><a routerLink="/upcoming" routerLinkActive="active">Upcoming SpaceX Launches</a></li>
     </ul>
  </nav>
</div>