<app-rocket-loader [style.opacity]='loaded ? 0 : 1'></app-rocket-loader>
<div ng-if="launch">
    <div class="launch-header">
        <app-navbar></app-navbar>
        <h1>
            SPACEX FLIGHT {{ flightNumber }}
        </h1>
        <ng-container *ngIf="launchSuccess; then successful; else failed"></ng-container>
    </div>
    <div class="rocket-details">
        <img class="mission-patch" src="{{missionPatch}}">
        <div class="launch-information row">
            <div class="launch-details laptop-half-width">
                <div class="launch-details-inner">
                    <h3 class="launch-section-label"> LAUNCH DETAILS</h3>
                    <br> {{launchDetails ? launchDetails : "No details were found for this launch."}}
                </div>
            </div>
            <div class="rocket-information laptop-half-width">
                <div class="rocket-details-inner">
                    <h3 class="launch-section-label"> ROCKET DETAILS</h3>
                    <div class="rocket-details-center">
                        <span class="rocket-details-label">
                            <b>ROCKET NAME</b>
                        </span>
                        <span class="rocket-details-text">
                            <b>{{rocketName | uppercase}} {{rocketType}} </b>
                        </span>
                    </div>
                    <div class="rocket-details-center">
                        <span class="rocket-details-label">
                            <b>LAUNCH SITE</b>
                        </span>
                        <span class="rocket-details-text">
                            <b>{{launchSite | uppercase}} </b>
                        </span>
                    </div>
                    <div class="rocket-details-center">
                            <span class="rocket-details-label">
                                <b>LAUNCH DATE</b>
                            </span>
                            <span class="rocket-details-text">
                                <b>{{ launchDate | date : "dd MMMM yyyy" }} </b>
                        
                            </span>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #successful>
    <h2 class="success-state successful">SUCCESSFUL</h2>
</ng-template>
<ng-template #failed>
    <h2 class="success-state failed">FAILED</h2>
</ng-template>