@import "~sass/styles";
%header-texts {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.launch-header {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(6, 56, 143, 0.5)),
    url("../latest-launch/assets/img/space_background.gif");
  background-size: cover;
  position: relative;
  h1 {
    @extend %h1_responsive;
    @extend %header-texts;
    top: 30%;
    width: 70%;
  }
  h2 {
    @extend %h2_responsive;
    @extend %header-texts;
    top: 30%;
    width: 70%;
    &.success-state {
      top: 60%;
      &.successful {
        color: $green_success;
      }
      &.failed {
        color: $red_failed;
      }
    }
  }
}

.rocket-details {
  font-family: $global-font;  
  color: white;
  position: absolute;
  font-size: 14pt;
  width: 100%;
  padding-top: 30px;
  min-height: 400px;
  border-top: 1px solid #012374;
  background-image: linear-gradient(
    to right bottom,
    #021d5d,
    #021f63,
    #012068,
    #01226e,
    #012374
  );
  .mission-patch {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    top: -300px;
    z-index: 2;
  }
  .launch-information {
    margin-top: 200px;
    font-size: $default_font_size;
    .launch-details-inner {
      padding: 40px;
    }
    .rocket-details-inner {
      padding: 40px;
      max-width: 100%;
      float:left;
    //   text-align: center;
      .rocket-details-center{
        text-align: center;
        margin-top:50px;

        .rocket-details-text {
            display:block;
            word-wrap:break-word;
            font-size: 35px;
        }
      }
    }
  }
}

