@import "~sass/styles";
.frontpage-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(6, 56, 143, 0.5)),
    url("assets/img/starman_slow.gif");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  height: calc(100vh);
  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-family: "Ubuntu", sans-serif;
    @include respond-to("mobileXS") {
      font-size: 1em;
    }
    @include respond-to("mobileL") {
      font-size: 2.5em;
    }
    @include respond-to("laptop") {
      font-size: 4.5em;
    }
  }
}
