@import "~sass/styles";
.card {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: $global-font;
  background-color: #132f64;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    padding:20px;
  }
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.card__image {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%); //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
}

.card__title {
  color: white;
  text-align: center;
  font-size: $default_font_size;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: $font-size_cards;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
