<div class="card">
  <a *ngIf="!isUpcomming()" routerLink="/launch/{{ launch.flight_number }}" routerLinkActive="active">
        <img class="card__image" src="{{launch.links.mission_patch_small ? launch.links.mission_patch_small : 'assets/img/et_small.png' }}">
        <div class="card__content">
          <div class="card__title">{{ launch.rocket.rocket_name }}</div>
          <div class="card__title">{{ launch.launch_date_unix * 1000 | date : "dd MMMM yyyy" }}</div>
        </div>
  </a>
  <div *ngIf="isUpcomming()">
      <img class="card__image" src="{{launch.links.mission_patch_small ? launch.links.mission_patch_small : 'assets/img/et_small.png' }}">
      <div class="card__content">
        <div class="card__title">{{ launch.rocket.rocket_name }}</div>
        <div class="card__title">{{ launch.launch_date_unix * 1000 | date : "dd MMMM yyyy" }}</div>
      </div>
    </div>
</div>

<!-- 
<section>
  Rocket Info:
  <br>
  <img src="{{launch.links.mission_patch_small}}"> Lauch Time (UTC): {{ launch.launch_date_utc }}
  <br> Launch Site: {{ launch.launch_site.site_name_long }}
  <br> Rocket: {{ launch.rocket.rocket_name }}
  <br>
  <a routerLink="/launch/{{ launch.flight_number }}" routerLinkActive="active">More Info</a>
</section> -->