@import "~sass/styles";
i {
  cursor: pointer;

  @include respond-to("mobileXS") {
    color: white;
    font-size: 59px;
    position: absolute;
    top: 12px;
    right: 24px;
  }
  @include respond-to("laptop") {

  }
}
